@model IEnumerable<Escola.Models.Aluno>

@{
    ViewBag.Title = "Alunos";
}
@using X.PagedList.Mvc;
@using X.PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessorId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.PaginaDeAlunos)
    {
        <tr>
            <td>
                @item.Nome
            </td>
            <td>
                @item.DataNascimento
            </td>
            <td>
                @item.Professor.Nome
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlunoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlunoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlunoId })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.PaginaDeAlunos, page => Url.Action("Index", new { page }))
